

<div class="input-group mb-2">
    <div class="input-group-prepend">
        <div class="input-group-text">錯誤次數</div>
    </div>
    <input type="number" class="form-control" id="ErrorTime" name="ErrorTime" value="@ViewBag.ErrorTimes" placeholder="錯誤次數" autocomplete="off" min="0"/>
</div>

<div class="alert alert-danger" role="alert">
    如不需設定錯誤次數，則設定0即可。
</div>