
@{
    ViewData["Title"] = "Index";
}

<div class="card bg-dark text-white" style="border:none;">
    <img src="~/Logo/PageIndex.gif" style="height:70vh" class="img-fluid" alt="Responsive image">
    <div class="card-img-overlay">
    </div>
</div>